extend layout
append extra
  link(rel="stylesheet", href="/css/home.css")
append main
  include nav
  include homeBody.html
  include footer.html
append script
  |<script src="/js/script.js"></script>
