<div class="container z-depth-5">
    <form action="/createprestation" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-hand-o-right prefix"></i>
                <input name="name" type="text" class="validate" require="">
                <label for="name">Nom de la prestation</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-money prefix"></i>
                <input name="Unitprice" type="number" min=1 class="validate" require="">
                <label for="Unitprice">Prix unitaire</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fa fa-clock-o prefix"></i>
                <input name="time" type="text" class="validate" require="">
                <label for="time">Durée</label>
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn">
                <span>Image descriptive</span>
                <input type="file" name="photo">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" require="" type="text">
            </div>
        </div>

        <div class="center">
            <button class="waves-effect waves-light btn" type="submit">
                Envoyer <i class="fa fa-send right"></i>
            </button>
        </div>
    </form>
</div>
