<footer class="page-footer grey lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="deep-orange-text">Visitez nous</h5>
                <p class="deep-orange-text text-lighten-1">Nous possédons d'une quantité suffisante et de tous les types de poulets pour satisfaire vos besoins, Nous sommes disponibles 24h/24 7j/7. En cas de besoins n'hésitez pas à nous contacter</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="deep-orange-text">Partager</h5>
                <ul>
                    <li><a class="deep-orange-text text-lighten-1" href="#!">Facebook <i class="fa fa-facebook"></i></a></li>
                    <li><a class="deep-orange-text text-lighten-1" href="#!">Twitter <i class="fa fa-twitter"></i></a></li>
                    <li><a class="deep-orange-text text-lighten-1" href="#!">Google <i class="fa fa-gmail"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container deep-orange-text text-darken-4">
            © 2016 Copyright TrivialMan
            <a class="deep-orange-text text-lighten-1 right" href="#!">Me Suivre</a>
        </div>
    </div>
</footer>
