<div class="parallax-container valign-wrapper">
        <div class="container valign">
            <div class="section center">
                <h2 class="deep-orange-text text-darken-4">Le plus grand catologue d'especes </h2>
                <p class="black-text flow-text">Nous possedons une grande variété d'espece de poulets à votre disposition
                    </br>Un compte Poulet Money vous à attribué à l'inscription</p>
                <a href="/register" class="btn waves-effect deep-orange white-text darken-text-4">S'inscrire</a>
            </div>
        </div>
        <div class="parallax">
            <img src="/images/varietes_poulets.jpg" style="display: block; transform: translate3d(-50%, 326px, 0px);" alt="">
        </div>
    </div>
    <div class="container">
        <h2>Nos types de poulets</h2>
        <div class="row">
            <div class="col m4 s12">
                <div class="card z-depth-4 medium sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img activator" src="images/poulet_de_chair.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Poulets de chair<i class="fa fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-action">
                        <a href="">Visiter les offres</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Poulets de chair<i class="fa fa-close right"></i></span>
                        <p class="flow-text">Détails sur les poulets de chair</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card z-depth-4 medium sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img activator" src="images/pondeuse.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">pondeuses<i class="fa fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-action">
                        <a href="">Visiter les offres</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">pondeuses<i class="fa fa-close right"></i></span>
                        <p class="flow-text">Détails sur les pondeuses</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card z-depth-4 medium sticky-action">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="responsive-img activator" src="images/poulet_du_village.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Poulets du village<i class="fa fa-ellipsis-v right"></i></span>
                    </div>
                    <div class="card-action">
                        <a href="">Visiter les offres</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Poulets du village<i class="fa fa-close right"></i></span>
                        <p class="flow-text">Détails sur les poulets du village</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="container valign">
            <div class="section center">
                <h2 class="deep-orange-text text-darken-4">Nous sommes partout au Cameroun</h2>
                <p class="black-text flow-text">Nos Poulets sont élevé dans les meilleures conditions et avec tout le soins necessaire
                    </br>Un compte Poulet Money vous à attribué à l'inscription</p>
                <a href="#contact" class="btn waves-effect deep-orange white-text darken-text-4">Nous contacter</a>
            </div>
        </div>
        <div class="parallax">
            <img src="/images/ferme.jpg" style="display: block; transform: translate3d(-50%, 326px, 0px);" alt="">
        </div>
    </div>
    <div class="container">
        <h2>Points de Livraison</h2>
        <p class="flow-text">Section sur les points de livraison</p>
    </div>
    <div class="parallax-container valign-wrapper">
        <div class="container valign">
            <div class="section center">
                <h2 class="deep-orange-text text-darken-4">Nos Prestations</h2>
                <p class="black-text flow-text">les prestations se font en fonction du nombre de poulets et de vos exigences
                </p>
            </div>
        </div>
        <div class="parallax">
            <img src="/images/prestation.jpg" style="display: block; transform: translate3d(-50%, 326px, 0px);" alt="">
        </div>
    </div>
    <div class="container">
        <h2>A Propos</h2>
        <p class="flow-text">Section à propos</p>
        <div class="divider"></div>

        <div id="contact">
            <h2>Contacter Nous</h2>
            <p class="flow-text">
                Section Contact
            </p>
        </div>
        <div class="divider"></div>
        <div class="center">
            <p class="flow-text">
                Section Publicité
            </p>
        </div>

    </div>
