<!DOCTYPE html>

html(lang='en')
  head
    meta(charset="UTF-8")
    title=title
    meta(name="description",content="DESCRIPTION")
    link(rel="stylesheet",href="/materialize/css/materialize.min.css")
    link(rel="stylesheet",href="/font-awesome/css/font-awesome.min.css")
    block extra

  body
    block main
  <script src="/jquery/jquery-3.1.1.min.js"></script>
  <script src="/materialize/js/materialize.min.js"></script>
  block script
