
<h1 class="flow-text center">Liste de Vos commandes</h1>
<table class="striped centered">
    <thead>
        <tr>
            <th data-field="" class="center">Type de poulet</th>
            <th data-field="" class="center">Quantité</th>
            <th data-field="kind" class="center">Prix unitaire</th>
            <th data-field="size" class="center">Reduction (%)</th>
            <th data-field="" class="center">Prix Unitaire(prestation)</th>
            <th data-field="" class="center">Prix total</th>
            <th data-field="" class="center">Lien</th>
            <th data-field="" class="center">Actions</th>
        </tr>
    </thead>

    <tbody id="commands">
    </tbody>

</table>
<div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content valign-wrapper">
        <div class="container valign">
            <div class="divider"></div>
            <p class="flow-text center">Etes-Vous Sûr de Vouloir supprimer cette demande ?</p>
            <div class="divider"></div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" id="cancel2" class="modal-action modal-close waves-effect waves-green btn-flat ">Non</a>
        <a href="#!" id="apply2" class="modal-action modal-close waves-effect waves-green btn-flat ">Oui</a>
    </div>
</div>
