<nav>
    <div class="nav-wrapper">
        <a href="#!" data-activates="mobile-demo" id="android" class="button-collapse deep-orange-text">
            <i class="fa fa-bars"></i>Menu
        </a>
        <a href="#!" class="brand-logo">
            <span class="logo deep-orange-text text-darken-4">Vente des Poulets en ligne</span>
        </a>
        <ul class="right hide-on-med-and-down">
            <li class="active">
                <a href="#"><i class="fa fa-home"></i>Acceuil</a>
            </li>
            <li><a href="/login"><i class="fa fa-sign-in"></i>Connexion</a></li>
            <li><a href="/register"><i class="fa fa-user"></i>Inscription</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a href="#"><i class="fa fa-home"></i>Acceuil</a>
            </li>
            <li><a href="/login"><i class="fa fa-sign-in"></i>Connexion</a></li>
            <li><a href="/register"><i class="fa fa-user"></i>Inscription</a></li>
        </ul>
    </div>
</nav>
