<div class="container main">
    <div id="back">
        <a class="waves-effect waves-light btn lime darken-1" href="/offers"><i class="fa fa-chevron-left"></i>  Retourner aux Offres</a>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <div class="row">
                <img src="" alt="" class="responsive-img imgdesc">
            </div>

        </div>
        <div class="col m6 s12">
          <div>
              <table class="bordered centered highlight">
                  <tr>
                      <th>Type de Poulets :</th>
                      <td id="kind"></td>
                  </tr>
                  <tr>
                      <th>Taille :</th>
                      <td id="size"></td>
                  </tr>
                  <tr>
                      <th>Quantité :</th>
                      <td id="quant"></td>
                  </tr>
                  <tr>
                      <th>Prix Unitaire :</th>
                      <td id="unitPrice"></td>
                  </tr>
              </table>
          </div>
          <div class="mysection">
              <div class="red white-text">
                  <h4>Réductions</h4>
              </div>
              <div class="container">
                  <table id="reductions" class="stipped centered highlight">
                      <thead>
                          <tr>
                              <th>Quantité</th>
                              <th>Pourcentage (%)</th>
                          </tr>
                      </thead>
                      <tbody></tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
    <div id="prestations">

    </div>
    <p class="message center">
        Vous n'avez selectionné aucune prestation
    </p>
    <h4 class="center">Passer une Commande</h4>
    <div class="divider"></div>
    <div class="row">
        <form class="col m6 s12 offset-m3" id="command">
            <div class="col m6 s6">
                <div class="input-field">
                    <input id="quantity" type="number" min="1">
                    <label for="quantity">Quantité</label>
                </div>
            </div>
            <div class="col m6 s6">
                <button class="waves-effect waves-light btn right" type="submit">
                            Commander
                </button>
            </div>
        </form>
    </div>
    <div class="mysection">
        <div class="red white-text">
            <h4>Description</h4>
        </div>
        <div class="container">
            <p id="description" class="flow-text">

            </p>
        </div>
    </div>
    <div class="mysection">
        <div class="red white-text">
            <h4>Information supplémentaire</h4>
        </div>
        <div class="container">
            <p id="infos" class="flow-text">

            </p>
        </div>
    </div>

    <div class="mysection">
        <div class="red white-text ">
            <h4>Poser une Question</h4>
        </div>
        <div class="row">
            <form class="col s12" id="ask">
                <div class="container">
                    <div class="row">
                        <div class="col m8 s8">
                            <div class="input-field">
                                <i class="fa fa-question prefix"></i>
                                <textarea id="question" class="materialize-textarea"></textarea>
                                <label for="question">Votre question</label>
                            </div>
                            <div class="row center">
                                <button class="waves-effect waves-light btn" type="submit">
                                Envoyer<i class="fa fa-send right"></i>
                            </button>
                            </div>
                        </div>
                        <div class="col m4 s4 center">
                            <div>
                                <img src="" alt="" class="circle small responsive-img">
                            </div>
                            <span class="small">Uploader : </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="section">
        <div class="section-header">
            <h3>
                Commentaires
            </h3>
        </div>
        <div class="section-content">
            <div class="row comment">
                <div class="col l3 m3 center">
                    <div>
                        <img src="" alt="" class="circle responsive-img">
                    </div>
                    <span></span>
                </div>
                <div class="col l9 m9">

                </div>
            </div>
            <ul id="comments-list" class="comments-list">

            </ul>
        </div>
    </div>
    <div class="mysection">
        <div class="red white-text ">
            <h4>Poser un commentaire</h4>
        </div>
        <div class="row">
            <form class="col s12" id="send">
                <div class="container">
                    <div class="row">
                        <div class="input-field s12">
                            <i class="fa fa-comment prefix"></i>
                            <textarea id="comment" class="materialize-textarea"></textarea>
                            <label for="comment">Votre Commentaire</label>
                        </div>
                    </div>
                    <div class="row center">
                        <button class="waves-effect waves-light btn" type="submit">
                            Envoyer<i class="fa fa-send right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col m6 s12" id="prestationTemplate"  style="display:none">
    <div class="card prestation z-depth-4">
        <div class="card-header teal lighten-2">
            <div class="card-title">
                <h4 class="title">Poulet Roti</h4>
                <p class="publicationDate">Jeudi 12 janvier 2017</p>
                <div class="check filled-in z-depth-4">
                    <input type="checkbox" class="red darken-4" name="" />
                    <label class="valign" for=""></label>
                </div>
            </div>
        </div>
        <div class="card-content-bg white-text">
            <div class="card-content">
                <div class="row">
                    <div class="col s6 m6 l6 center-align">
                        <div>
                            <p><span class="grey-text text-lighten-4">Durée</span></p>
                            <p><span class="grey-text text-lighten-4">Prix Unitaire</span></p>
                        </div>
                    </div>
                    <div class="col s6 m6 l6 center-align infos">
                        <div>
                            <p><span class="grey-text text-lighten-4"> 1 Jour</span></p>
                            <p><span class="grey-text text-lighten-4"> 400F</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<li style="display:none" id="template">
    <div class="comment-main-level row">
        <!-- Avatar -->
        <div class="comment-avatar col m2 s2 center"><img class="circle" alt=""></div>
        <!-- Contenedor del Comentario -->
        <div class="comment-box col m10 s10">
            <div class="comment-head">
                <h6 class="comment-name"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
                <span>hace 20 minutos</span>

            </div>
            <div class="comment-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
            </div>
        </div>
    </div>
</li>
