<div class="container" id="main">
    <div class="row">
        <div class="col m6 s12">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="fa fa-search"></i></label>
                            <i class="fa fa-close"></i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <div class="fixed-action-btn horizontal secondtool">
        <div class="switch">
            <label>
        Ordre Asc
        <input type="checkbox">
        <span class="lever"></span>
      </label>
        </div>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
            <i class="fa fa-sort"></i>
        </a>
        <ul>
            <li><a class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Trier Par Date"><i class="fa fa-calendar"></i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Trier Par Prix Unitaire"><i class="fa fa-money"></i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Trier Par Quantité"><i class="fa fa-sort-numeric-asc"></i></a></li>
        </ul>
    </div>
    <ul class="collapsible popup" id="list" data-collapsible="accordion">

    </ul>
    
</div>
