extend layout
block append extra
  link(rel="stylesheet", href="/css/offers.css")
  link(rel="stylesheet", href="/ionrangeslider/css/ion.rangeSlider.css")
  link(rel="stylesheet", href="/ionrangeslider/css/ion.rangeSlider.skinModern.css")
block append main
  include nav
  include offers.html
  include footer.html
append script
  include backboneViews.html
  |<script src="others/velocity.min.js"></script>
  |<script src="others/underscore.js"></script>
  |<script src="others/backbone.js"></script>
  |<script src="ionrangeslider/js/ion.rangeSlider.min.js"></script>
  | <script src="/js/offers.js"></script>
