<div class="card prestation z-depth-4">
    <div class="card-header teal lighten-2">
        <div class="card-title">
            <h4 class="title">Poulet Roti</h4>
            <p class="publicationDate">Jeudi 12 janvier 2017</p>
        </div>
    </div>
    <div class="card-content-bg white-text">
        <div class="card-content">
            <div class="row">
                <div class="col s6 m6 l6 center-align">
                    <div>
                        <p><span class="grey-text text-lighten-4">Durée</span></p>
                        <p><span class="grey-text text-lighten-4">Prix Unitaire</span></p>
                    </div>
                </div>
                <div class="col s6 m6 l6 center-align infos">
                    <div>
                        <p><span class="grey-text text-lighten-4"> 1 Jour</span></p>
                        <p><span class="grey-text text-lighten-4"> 400F</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
