extend layout
append extra
  link(rel="stylesheet",href="/css/style.css")
  | <link rel="stylesheet" href="/css/inscription.css">
append main
  include registerBody.html
append script
  <script type="text/javascript" src="/js/inscription.js"></script>
