extend layout
append extra
  link(rel="stylesheet", href="/css/home.css")
  link(rel="stylesheet", href="/css/offer.css")
  link(rel="stylesheet", href="/css/prestation.css")
append main
  include nav
  |<div id="offer" data-id="#{id}"><div>
  include offer.html
  include footer.html
append script
  |<script src="/js/singleOffer.js"></script>
